<body class="bg-bgpurple">
  <div class="fixed inset-0 flex items-center justify-center bg-opacity-50 bg-bgpurple">
    <div
      class="flex flex-col w-full max-w-lg p-6 overflow-hidden border rounded-lg shadow-lg border-lightpink bg-bgpurple text-metawhite">
      <div class="flex items-center justify-between p-4 mb-4 border-b border-lightpink">
        <h2 class="text-2xl font-bold">Reset Password</h2>
        <button class="text-muted-foreground hover:text-muted">✖</button>

      </div>
      <div>
        <label for="newPassword" class="block mb-2 text-metawhite">New
          Password</label>
        <input type="password" id="newPassword" formControlName="newPassword" placeholder="Enter new password"
          class="w-full h-10 p-3 mb-4 border rounded-lg bg-purple1 border-lightpink text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink inputbar" />
        <!-- <div
          *ngIf="newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched || newPasswordForm.controls['newPassword'].dirty"
          class="error-msg">
          <div *ngIf="newPasswordForm.controls['newPassword'].errors?.['required']" class="pt-1 text-sm text-red">
            New password is required.
          </div>
          <div *ngIf="newPasswordForm.controls['newPassword'].errors?.['minlength']" class="pt-1 text-sm text-red">
            Password must be at least 8 characters.
          </div>
        </div> -->
        <div class="mb-4">
          <label for="confirmPassword" class="block mb-2 text-metawhite">Confirm Password</label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword"
            placeholder="Confirm new password"
            class="w-full h-10 p-3 mb-4 border rounded-lg bg-purple1 border-lightpink text-metawhite placeholder-lightpink focus:outline-none focus:ring-1 focus:ring-darkpink inputbar" />
          <!-- <div
            *ngIf="newPasswordForm.controls['confirmPassword'].invalid && newPasswordForm.controls['confirmPassword'].touched || newPasswordForm.controls['confirmPassword'].dirty"
            class="error-msg">
            <div *ngIf="newPasswordForm.controls['confirmPassword'].errors?.['required']" class="pt-1 text-sm text-red">
              Confirm password is required.
            </div>
            <div *ngIf="newPasswordForm.hasError('passwordMismatch')" class="pt-1 text-sm text-red">
              Passwords do not match.
            </div>
          </div> -->
          <button
            class="w-full h-10 font-bold border rounded-lg bg-darkpurple border-lightpink hover:bg-lightpurple text-metawhite focus:outline-none focus:ring-2 focus:ring-pink-500">
            Change Password
          </button>

        </div>
      </div>
    </div>
  </div>




  <!-- Password Reset Done Popup -->
  <!-- <p-dialog header="" [(visible)]="visibleResetPassword" [modal]="true" [draggable]="false" [resizable]="false"
    styleClass="custom-dialog">
    <div class="flex flex-col w-full max-w-lg overflow-hidden rounded-lg shadow-lg bg-bgpurple text-metawhite">
      <div class="p-8">
        <div class="flex flex-col items-center">
          <h2 class="mb-6 text-2xl font-bold">Password Reset</h2>
          <p class="text-center">Your Password has been changed.</p>
          <button type="button"
            class="w-full h-10 px-4 py-2 mt-6 font-bold text-white rounded-lg bbg-darkpurple hover:bg-lightpurple focus:outline-none focus:ring-2 focus:ring-pink-500"
           >
            Continue
          </button>
        </div>
      </div>
    </div>
  </p-dialog> -->
</body>