<!-- nav - bar -->
<app-landingnavbar></app-landingnavbar>

<!-- main -->
<div class="bg-background pb-6 mt-12">



  <div class="relative h-96 md:h-[24rem] bg-background flex items-center justify-end text-center">
    <img src="assets/images/img15.jpeg" alt="abstract-mountain-background" class="absolute w-full h-full object-cover bg-repeat opacity-45" />
    <div class="relative z-10 items-center mr-4 md:mr-16 text-left p-4">
      <h1 class="text-4xl md:text-7xl font-extrabold mb-5 text-pink1 opacity-80 ">Our Services</h1>
      <p class="text-metawhite text-lg md:text-xl font-light">At Metanet, we offer a comprehensive range of services designed<br class="hidden md:inline">to empower AR/VR creators and enthusiasts.<br class="hidden md:inline">Discover how our platform can enhance your projects<br class="hidden md:inline">and bring your ideas to life.</p>
    </div>
  </div>


  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Explore Diverse 3D<br>Models</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        Access an extensive library of high-quality AR/VR 3D models. Our curated selection spans various categories, ensuring you find the perfect assets to enrich your projects and deliver immersive
        experiences.
      </p>
      <button class="bg-darkpurple text-metawhite p-4 w-40 py-2 text-sm h-8 rounded-xl hover:bg-lightpurple">Browse Models →</button>
    </div>
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s2.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s8.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Experience Unmatched<br>Quality</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        We maintain rigorous quality standards for all our content. Each AR/VR 3D model is meticulously verified to ensure it meets our high-performance criteria, guaranteeing a superior user experience.
      </p>
      <button class="bg-darkpurple text-metawhite p-4 w-40 py-2 text-sm h-8 rounded-xl hover:bg-lightpurple">View Standards</button>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Seamless User<br>Experience</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        Navigate our platform effortlessly with an intuitive interface designed for ease of use. Quickly find, purchase, and implement AR/VR 3D models without any hassle, making your creative process smooth and efficient.
      </p>
    </div>
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s3.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
  </div>


  <div class="relative h-72  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/img12.jpg" alt="background" class="absolute  w-full h-full object-cover bg-repeat opacity-25" />
    <div class="relative z-10">
      <h2 class="text-metawhite text-lg font-bold text-center opacity-55  mx-4 md:mx-12">"Our user-friendly interface ensures a seamless experience, allowing you to focus on creating and innovating."</h2>
    </div>
  </div>


  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s4.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Get Real-Time<br>Models</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        Benefit from our integrated chat support for instant help and advice. Connect directly with model creators and other users to resolve issues, share ideas, and get the most out of our platform.
      </p>
     </div>
  </div>

  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Monetize Your<br>Creations</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        Use our marketplace to buy and sell AR/VR 3D models. Creators can monetize their work, while buyers access high-quality content to enhance their projects. "Transform your creations into revenue with our robust marketplace."      </p>
      <button class="bg-darkpurple text-metawhite p-4 w-40 py-2 text-sm h-8 rounded-xl hover:bg-lightpurple">Visit Marketplace</button>
    </div>
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s5.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s11.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Join a Vibrant<br>Community</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        Become part of our thriving community of AR/VR creators and enthusiasts. Engage in forums, participate in discussions, and collaborate with other members to enhance your projects and share knowledge.      </p>
      <button class="bg-darkpurple text-metawhite p-4 w-40 py-2 text-sm h-8 rounded-xl hover:bg-lightpurple">Join Community</button>
    </div>
  </div>

  <div class="relative h-72  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/img12.jpg" alt="background" class="absolute  w-full h-full object-cover bg-repeat opacity-25" />
    <div class="relative z-10">
      <h2 class="text-metawhite text-lg font-bold text-center opacity-55  mx-4 md:mx-12">"Join a dynamic network of innovators, where collaboration and creativity flourish."</h2>
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Comprehensive<br>Documentation</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        Access detailed guides and tutorials to maximize the potential of your AR/VR 3D models. Our documentation provides step-by-step instructions, helping you effectively use and integrate models into your projects.
      </p>
    </div>
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s6.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
  </div>

  <div class="flex flex-col md:flex-row items-center mx-12  p-6 ">
    <div class="md:w-1/2 flex justify-center">
      <img class="rounded-full w-64 h-64 object-cover" src="assets/images/s7.jpeg" alt="Person wearing VR headset with vibrant background" />
    </div>
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h2 class="text-4xl font-bold text-metawhite mb-2">Safe and Reliable<br>Payment</h2>
      <div class="w-16 h-1 bg-pink1 mb-4"></div>
      <p class="text-metawhite mb-6">
        Conduct transactions with confidence using our secure payment gateway. Your financial information is protected, ensuring a safe and trustworthy purchasing experience for all your AR/VR 3D model needs.
      </p>
      <button class="bg-darkpurple text-metawhite p-4 w-40 py-2 text-sm h-8 rounded-xl hover:bg-lightpurple">View Standards</button>
    </div>
  </div>

  <div class="relative h-72  bg-background  flex items-center justify-center text-center">
    <img src="assets/images/img12.jpg" alt="background" class="absolute  w-full h-full object-cover bg-repeat opacity-25" />
    <div class="relative z-10">
      <h2 class="text-metawhite text-lg font-bold text-center opacity-55  mx-4 md:mx-12">"Unlock limitless possibilities with our vast collection of meticulously curated AR/VR 3D models."</h2>
    </div>
  </div>









  <div class="bg-bgpurple relative text-metawhite   rounded-lg mx-12 mt-6  flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-8">
    <div class="flex-1 p-8 relative">
      <div class="border-b-2 border-darkpink w-16 mx-auto md:mx-0 my-4"></div>
      <h2 class="text-3xl font-light mb-4 text-metawhite">
        Ready to Elavate Your <br />
        <span class="text-primary font-bold">AR/VR Projects?</span>
      </h2>
      <p class="text-muted-foreground mb-6">Join Metanet today and start exploring our exceptional range of services. Whether you're a creator or an enthusiast, our platform is designed to meet all your AR/VR content needs.</p>
      <!-- <button class="border border-metawhite  text-metawhite hover:text-metawhite p-4 h-8 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple">Sign In</button> -->
      <div class="flex justify-center md:justify-start space-x-4  h-8">
        <button class="bg-darkpurple text-metawhite p-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple">Sign Up</button>
        <button class="border border-darkpurple hover:border-lightpurple text-lightpurple hover:text-metawhite p-4 w-40 py-2 text-sm rounded-lg hover:bg-lightpurple">Sign In</button>
      </div>
    </div>
    <div class="flex justify-end p-4  ">
      <img src="assets/images/img14.jpg" alt="Person using AR/VR headset with neon graphics" class=" flex rounded-lg h-80" />
    </div>
  </div>




</div>

<!-- footer -->
<app-footer></app-footer>
