<!-- nav-bar -->
<app-landingnavbar></app-landingnavbar>

<div class="bg-metablack pb-6 mt-16">

  <div class="relative h-screen bg-background flex items-center justify-start text-start">
    <img src="assets/images/background.png" alt="background" class="absolute w-full h-screen object-cover bg-repeat opacity-50" />
    <div class="relative z-10 text-metawhite justify-start ml-6 p-6">
      <h1 class="text-8xl font-bold mb-4">StyleSphere</h1>
      <p class="text-lg mb-6">“Discover Your Unique Style with Our Exclusive Clothing Collections”</p>
      <div class="flex justify-start space-x-4 h-8">
        <button class="bg-darkpurple text-metawhite p-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple">Shop Now</button>
        <button class="border border-darkpurple hover:border-lightpurple text-lightpurple hover:text-metawhite p-4 w-40 py-2 text-sm rounded-xl hover:bg-lightpurple">Explore Collections →</button>
      </div>
    </div>
  </div>

</div>
