/* tab view */
/* :host ::ng-deep .p-tabview{
  background-color: #6d487b;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
} */

:host ::ng-deep .p-tabview-nav {
  display: flex;
  justify-content: start;
  gap: 10px;
  /* background-color: #2d023c; */
  border-radius: 20px;
  /* padding: 10px 0; */
  margin: 0px 20px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 0px;
  border-bottom: 2px solid #8d8d8d;
}


/* not selected */
:host ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  color: #ffffff;
  font-size: 0.8rem;
  padding: 5px 10px;
  border-radius: 20px;
  background: none;
  /* border: 2px solid #E413C4; */
}

/* hover */
:host ::ng-deep .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
  background: #6a097d;
  color: #FFFFFF;
  border: 2px solid #6a097d;
}

/* selected */
:host ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: #BF0B83;
  color: #FFFFFF;
  border: 2px solid #BF0B83;
}

:host ::ng-deep .p-tabview .p-tabview-panels {
  background: none;
}

::ng-deep .p-dialog{
  width: 600px !important;
}

::ng-deep .p-dialog .p-dialog-header {
  color: #ffffff !important;
  font-size: 1rem !important;
  text-align: center !important;
  /* height: 0 !important; */
  padding: 0 !important;
  background:transparent !important;
  box-shadow: none !important;
  border: none !important;
  position: absolute !important;
  align-self: flex-end !important;
}

::ng-deep .p-dialog .p-dialog-content {
  background-color: #000000 !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 0px !important;
  color: #000000
}

::ng-deep .p-dialog .p-fileupload-buttonbar {
  background-color: #ab80f1;
  border-radius: 0px !important;
  border: none !important;
  padding: 4px !important;
  color: #ffffff;
  justify-content: center !important;
}

::ng-deep .p-dialog .p-fileupload-buttonbar .p-button{
  background-color: #6a097d !important;
  border-radius: 6px !important;
  border: none !important;
  padding: 6px !important;
  color: #ffffff;
}

::ng-deep .p-dialog .p-fileupload-content {
  background-color: #26032d !important;
  border-radius: 0px !important;
  border: none !important;
  padding: 0px !important;
  min-height: 100px !important;
  justify-content: center !important;
  align-items: center !important;
  color: #f0f0f0
}


 /* ::ng-deep .p-dialog  .p-fileupload-content
{
  background-color: #000000 !important;
  padding: 0px !important;
  color: #9b9b9b;
  display: flex;
} */
