<!-- nav - bar -->
<app-user-navbar></app-user-navbar>

<!-- main -->
<div class="bg-metablack py-6 mt-16 min-h-[300px]" >


  <!-- product -->
<div class="bg-purple1 mx-6 p-6 rounded-lg shadow-lg" *ngIf="data">
  <a href="#" class="text-pink2 text-sm mb-4 inline-block"></a>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 ">
    <div class="flex items-center justify-center">
      <!-- Display the model image -->
      <img
        *ngIf="data.model.image1Url"
        [src]="data.model.image1Url"
        [alt]="data.model.title"
        class="rounded-lg shadow-md"
        width=400
        height=250
      />
    </div>
    <div class="ml-6">
      <h2 class="text-2xl font-bold text-metawhite">
        {{ data.model.title }}
      </h2>
      <p class="text-metawhite w-full max-h-[350px] pl-2 pr-6 mt-5 my-2">
        {{ data.model.description }}.
      </p>
      <div class="mt-4 text-metawhite">
        <div class="flex flex-wrap gap-2 mb-4 text-metawhite">
          <span class="bg-secondary text-metawhite py-1 rounded-full mr-3">
            <i class="pi pi-link" style="font-size: 1rem"></i>
          </span>
          <span
            class="border-2 border-darkpink text-metawhite p-4 w-40 text-sm rounded-lg mb-5 h-8px-3 py-1">
            {{ data.model.category.name }}
          </span>
        </div>

        <div class="flex flex-wrap gap-2 mb-4 text-metawhite">
          <span class="bg-secondary px-3 py-1 rounded-full mr-3">
            <i class="pi pi-tags" style="font-size: 1rem"></i>
          </span>
          <div *ngFor="let tag of data.model.tags">
            <span
              class="bg-lightpurple font-semibold p-4 text-sm text-metawhite rounded-lg mb-5 h-8px-3 px-3 py-1">
              {{ tag }}
            </span>
          </div>
        </div>
        <span class="text-xl font-semibold text-primary mb-5">
          {{ data.model.price == 0 ? 'Free' : data.model.price + ' $' }}
        </span>
        <p class="text-sm text-muted-foreground mb-2">
          Model code: {{ data.model.id }}
        </p>
        <div class="text-xs text-lightgray flex items-center text-center space-x-3">
          <p-rating
            [(ngModel)]="data.model.review"
            [readonly]="true"
            [cancel]="false">
          </p-rating>
          <span>{{ data.model.review }}</span>
          <span>{{ getReviewCount() }} Reviews</span>
          <span class="space-x-1">
            <i class="pi pi-heart-fill" style="font-size: 0.7rem"></i>
            {{ data.model.likesCount }}
          </span>
        </div>
        <p class="w-fit text-xs text-sm text-metawhite mt-2">
          Listed at {{ data.model.createdAt | date: 'mediumDate' }}
        </p>
      </div>
      <div class="lg:flex items-center justify-between mt-4">
        <div class="flex items-center space-x-5 mt-4 lg:mt-0">
          <button
            (click)="AddToCart(data.model.id)"
            class="bg-lightpurple p-4 h-8 w-32 py-2 text-sm rounded-xl hover:bg-darkpurple text-metawhite items-center text-center space-x-2">
            <i class="pi pi-shopping-cart" style="font-size: 0.9rem"></i> Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="flex items-center mt-4"></div>
</div>


  <!-- tabs -->
  <div class="bg-purple1 mx-6 mt-3  p-6 rounded-lg shadow-lg" *ngIf="data">
    <p-tabView selectOnFocus="true">
      <p-tabPanel header="Review">
        <div class="grid grid-cols-1 md:grid-cols-2  mb-6 ">
          <div class=" flex p-6  col-span-1 border-r-0 md:border-r-4 md:border-darkpink md:justify-center md:items-center ">
            <div>
              <h1 class="text-3xl text-metawhite mb-2">Customer Reviews</h1>
              <div class="text-xs text-lightgray flex items-center text-center space-x-2">
                <p-rating [(ngModel)]="data.model.review" [readonly]="true" [cancel]="false"></p-rating>
                <span class="ml-2">{{data.model.review}} out of 5</span>
              </div>
              <p class="text-lightgray text-sm">{{getReviewCount()}} global ratings</p>
            </div>
          </div>
          <!-- rating -  bar -->
          <div class="p-6  col-span-1 text-lightgray text-xs">
            <div>
              <div class="flex justify-between items-center">
                <span>5 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="[{value:AnalitycsofRating.fivestar}]" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>4 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="[{value:AnalitycsofRating.fourstar}]" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>3 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="[{value:AnalitycsofRating.threestar}]" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>2 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="[{value:AnalitycsofRating.twostar}]" />
              </div>
            </div>
            <div>
              <div class="flex justify-between items-center">
                <span>1 Star</span>
                <!-- <span>65%</span> -->
              </div>
              <div class="card">
                <p-meterGroup [value]="[{value:AnalitycsofRating.onestar}]" />
              </div>
            </div>

          </div>
        </div>


        <div class="flex flex-col gap-3" *ngFor="let onereview of data.reviews">
          <div class=" text-metawhite mt-3 shadow-lg border-b-2 border-lightgray border-opacity-15">
            <div class="flex justify-between items-center">
              <div class="flex items-start mb-4">
                <img
                  src="https://img.freepik.com/free-psd/3d-illustration-human-avatar-profile_23-2150671142.jpg?size=338&ext=jpg&ga=GA1.1.2113030492.1719878400&semt=ais_user"
                  alt="User avatar" class="w-10 h-10 rounded-full border-2 border-darkpink" />
                <div class="ml-4">
                  <h3 class="font-semibold text-lg">{{onereview.user.firstName}} {{onereview.user.lastName}}</h3>
                  <span class="text-muted-foreground text-sm">Verified Purchase</span>
                </div>
              </div>
              <div class=" justify-end items-end">
                <div>
                  <span class="flex justify-end text-xs mb-2">{{onereview.purchasedAt|date:'mediumDate'}}</span>
                </div>
                <div>
                  <p-rating [(ngModel)]="onereview.reviewStars" [readonly]="true" [cancel]="false"></p-rating>
                </div>
              </div>
            </div>
            <h4 class="font-bold text-xl mb-2">Exceptional Detail</h4>
            <p class="text-metawhite mb-4 text-sm">
              {{onereview.reviewMessage}}
            </p>
          </div>

        </div>

        <div class=" p-6 " *ngIf="!data.amIreviewed">
          <h2 class="text-2xl font-bold text-darkpink">Review this Product</h2>
          <p class="text-metawhite mt-2">Share your thoughts with other customers</p>
          <button class="mt-4 bg-darkpink w-48 h-8 text-metawhite py-2 px-4 rounded-full hover:bg-darkpink/90" (click)="showReviewForm()">Write a customer review</button>
        </div>
        <div class=" p-6  flex justify-center" *ngIf="data.amIreviewed">
          <h2 class="text-2xl font-bold text-darkpink">You Already Reviewed to this Product</h2>
          </div>

      </p-tabPanel>
      <p-tabPanel header="Seller Details">
        <div class="p-6 rounded-lg shadow-lg">
          <div class="flex items-center mb-4 md:mt-4">
            <img
              src="{{data.model.modelOwner.profilePicture}}"
              alt="User avatar" class="w-10 h-10 rounded-full" />
            <span class="font-semibold text-metawhite ml-3">{{data.model.modelOwner.displayName}}</span>

          </div>

          <h2 class="text-lg font-bold  text-metawhite">Bio:</h2>
          <ul class="list-disc list-inside mb-4 text-metawhite">
            <li>{{data.model.modelOwner.biography}}</li>

          </ul>
          <p class="list-disc list-inside mb-4 text-metawhite">Portfolio : <a class="text-purple4" href="{{data.model.modelOwner.personalWebsite}}">{{data.model.modelOwner.personalWebsite}}</a></p>
          <p class="list-disc list-inside mb-4 text-metawhite"><i class="pi pi-facebook" style="font-size: 1rem"> </i> Facebook  : &#64;{{data.model.modelOwner.facebookUsername}}</p>
          <p class="list-disc list-inside mb-4 text-metawhite"><i class="pi pi-twitter" style="font-size: 1rem"></i> Twitter : &#64;{{data.model.modelOwner.twitterUsername}}</p>
          <p class="list-disc list-inside mb-4 text-metawhite"><i class="pi pi-linkedin" style="font-size: 1rem"></i> LinkedIn : &#64;{{data.model.modelOwner.linkedInUsername}}</p>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!-- review - form -->
<div class="flex justify-center">
  <p-dialog header="" [(visible)]="visibleReviewForm" [modal]="true" [draggable]="false"
     [resizable]="false" styleClass="custom-dialog">

    <div class="bg-purple1  rounded-lg shadow-lg w-full max-w-4xl max-h-full overflow-x-scroll no-scrollbar">
      <div class="flex justify-between items-center mb-4 bg-gradient-to-r from-purple2 to-darkpink">
        <div class="flex items-center p-4">
          <h2 class="text-metawhite text-xl font-semibold">Write Customer Review</h2>
        </div>
      </div>
      <form class="space-y-4 mx-6 mb-6 text-sm" [formGroup]="formGroup">

        <div class="card flex justify-center pt-3 pb-6 border-b-2 border-darkpink">
          <label  class="mr-3 text-metawhite">Rating</label>
          <p-rating formControlName="reviewStars" [cancel]="false" />
        </div>

        <div class="card flex justify-center pt-3">
          <p-floatLabel>
            <textarea
              rows="5"
              cols="30"
              pInputTextarea
              [autoResize]="true"
              formControlName="reviewMessage"
            >
            </textarea>
            <label class="text-metawhite">Review</label>

          </p-floatLabel>
        </div>
        <div class="flex items-center">
          <button (click)="postReview()" class="w-1/3 h-8 mx-auto bg-darkpurple text-metawhite py-2 rounded-lg hover:bg-primary/80">Post Your Review</button>
        </div>
      </form>


    </div>
  </p-dialog>

  <!-- footer  
<app-footer></app-footer> -->
