<!-- nav - bar -->
<app-user-navbar></app-user-navbar>

<!-- main -->
<div class="bg-background pb-6 mt-16">

  <!-- Search - Bar -->
  <div class=" w-full flex justify-end p-6 gap-10">
    <div class="flex flex-row items-center w-80">
      <input
        id="searchQueryInput"
        type="text"
        name="searchQueryInput"
        placeholder="Search models..."
        [(ngModel)]="searchQuery"
        (input)="applyFilters()"
        class="w-full h-12 text-lg text-metawhite rounded-full border-2 border-darkpurple bg-background focus:outline-none search"
      />
      <i class="pi pi-search text-darkpurple -ml-10" style="font-size: 1.5rem"></i>
    </div>


  </div>

  <!-- Filter - and - Sort - Bar -->
  <div class="filter-bar flex justify-between items-center p-4 bg-darkpurple text-metawhite">
    <div class="filter-group flex items-center space-x-4">
      <div class="filter-item">
        <label for="category">Category</label>
        <select id="category" [(ngModel)]="selectedCategory" (change)="applyFilters()">
          <option *ngFor="let category of categories; let i = index" [value]="i === 0 ? '' : i">
            {{category}}
          </option>
        </select>
      </div>
      <div class="filter-item">
        <label for="price">Price</label>
        <input type="range" id="price" min="2" max="500" [(ngModel)]="selectedPrice" (change)="applyFilters()" />
        <span>{{selectedPrice}}</span>
      </div>

    </div>
    <div class="sort-group">
      <label for="sort">Sort by</label>
      <select id="sort" [(ngModel)]="selectedSort" (change)="applyFilters()">
        <option *ngFor="let sort of sortOptions" [value]="sort">{{sort}}</option>
      </select>
    </div>
  </div>


  <div class="flex justify-center p-6">
    <div class="grid gap-6 mb-10 text-metawhite" style="grid-template-columns: repeat(4, 1fr);">
      <!-- Use ngFor to iterate over models array -->
      <div
        *ngFor="let model of paginatedModels"
        class="w-64 h-80 mx-auto rounded-lg shadow-lg overflow-hidden hover:scale-105 transition-transform"
      >

        <div  class="relative w-full h-3/4">
          <img
            (click)="navigateToDescription(model.id)"
            src="{{ model.image }}"
            alt="{{ model.name }}"
            class="w-full h-full object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-pink1 text-white text-xs px-2 py-1 rounded-lg"
            >{{ model.review }}⭐</span
          >
          <button
            (click)="toggleLike(model)"
            class="absolute top-2 right-2 bg-darkpurple hover:bg-pink1 text-metawhite rounded-full w-8 h-8 flex justify-center items-center"
          >
            <i
              class="pi"
              [ngClass]="model.isLiked ? 'pi-heart-fill' : 'pi-heart'"
              style="font-size: 1rem"
            ></i>
          </button>
          <script>  </script>
        </div>
        <div class="px-4 py-2 bg-purple2 flex justify-between items-end h-1/4" (click)="navigateToDescription(model.id)">
          <div>
            <h2 class="text-lg font-semibold text-metawhite truncate" style="width: 100%;">
              {{ model.name }}
            </h2>
            <p class="text-lg font-bold text-lightgray">{{ model.price }}</p>
          </div>
          <div class="flex items-center">
            <span class="mr-2 text-lightgray">{{ model.likesCount }}</span>
            <i class="pi pi-heart" style="color: red;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card flex justify-center">
    <p-paginator (onPageChange)="onModelPageChange($event)" [first]="first" [rows]="rows"
      [totalRecords]="totalModelRecords" [rowsPerPageOptions]="[12,20,28]"></p-paginator>
  </div>

</div>
<app-footer></app-footer>